<h2 align="center">Cuadros 3x3</h2>
<div class="grid-container grid-3x3">
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
</div>

<h2 align="center">Cuadros 4x4</h2>
<div class="grid-container grid-4x4">
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
  <div class="grid-item blue"></div>
</div>

<h2 align="center">Cuadros 5x5</h2>
<div class="grid-container grid-5x5">
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
  <div class="grid-item red"></div>
</div>

<h2 align="center">Cuadros 6x6</h2>
<div class="grid-container grid-6x6">
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
  <div class="grid-item purple"></div>
</div>

<br>
<div class="contenedor">
<a href="casa.component.html">
  <button >Volver a la Página de Inicio</button>
</a>
</div>