.grid-container {
  display: grid;
  gap: 10px;
  justify-content: center;
  margin: 20px auto;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.grid-3x3 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 80%;
  max-width: 450px;
  height: 300px;
}

.grid-3x3 .grid-item.blue {
  background-color: #af0000;
}

.grid-4x4 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 80%;
  max-width: 600px;
  height: 400px;
}

.grid-4x4 .grid-item.blue {
  background-color: #2b007a;
}

.grid-5x5 {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 80%;
  max-width: 750px;
  height: 500px;
}

.grid-5x5 .grid-item.red {
  background-color: #0010a1;
}

.grid-6x6 {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 80%;
  max-width: 900px;
  height: 600px;
}

.grid-6x6 .grid-item.purple {
  background-color: #fbff00c2;
}

button {
  padding: 10px 35px;
  background-color: #000000; 
  color: white;
  border: 2px solid #ffd900; 
  border-radius: 150px; 
  cursor: pointer;
  font-size: 20px; 
  font-weight: bold; 
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

button:hover {
  background-color: #caee00; 
  color: #000000;
  border-color: #000000;
  transform: scale(1.05);
}

.contenedor {
  display: flex;
  justify-content: center;
}
