<div class="card-container">

  <p-card align="center" header="Hollow Night" subheader="Al 97% le gustó este videojuego" [style]="{ width: '300px' }">
    <ng-template pTemplate="header">
      <img alt="Card"
        src="https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/ncom/software/switch/70010000003208/4643fb058642335c523910f3a7910575f56372f612f7c0c9a497aaae978d3e51" />
    </ng-template>
    <p>
      El videojuego cuenta la historia del Caballero, en su búsqueda para descubrir los secretos del largamente
      abandonado reino de Hallownest, cuyas profundidades atraen a los aventureros y valientes con la promesa de tesoros
      o la respuesta a misterios antiguos.</p>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
        <p-button label="Top 1 Indies" severity="success"
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-purple-900">
        </p-button>
      </div>
    </ng-template>
  </p-card>

  <p-card align="center" header="Resident Evil 4" subheader="Al 95% le gustó este videojuego"
    [style]="{ width: '300px' }">
    <ng-template pTemplate="header">
      <img alt="Card" src="https://image.api.playstation.com/vulcan/ap/rnd/202210/0706/EVWyZD63pahuh95eKloFaJuC.png" />
    </ng-template>
    <p>
      Seis años después de los eventos de Resident Evil 2, el sobreviviente de Raccoon City, Leon Kennedy, se encuentra
      apostado en un recóndito pueblo de Europa para investigar la desaparición de la hija del presidente de los Estados
      Unidos. Lo que descubre allí no se parece a nada que haya enfrentado antes.</p>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
        <p-button label="El mejor de la saga" severity="success"
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-purple-900">
        </p-button>
      </div>
    </ng-template>
  </p-card>

  <p-card align="center" header="Need for Speed Heat" subheader="Al 92% le gustó este videojuego"
    [style]="{ width: '300px' }">
    <ng-template pTemplate="header">
      <img alt="Card"
        src="https://i.ytimg.com/vi/9ewiJJe_nYI/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLCoNIjBmgVu4jJQtQghSCy57YitOg" />
    </ng-template>
    <p>
      DOMINA LA OSCURIDAD, PERSIGUE LA LUZ. Ve al límite en el Speedhunters Showdown y compite para ganar fondos en
      eventos de carrera, derrape y campo a través. Luego enfréntate a la ciudad por la noche y compite en carreras
      callejeras clandestinas para forjar tu reputación
    </p>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
        <p-button label="Goty" severity="success"
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-purple-900">
        </p-button>
      </div>
    </ng-template>
  </p-card>

  <p-card align="center" header="Subnautica" subheader="Al 97% le gustó este videojuego" [style]="{ width: '300px' }">
    <ng-template pTemplate="header">
      <img alt="Card"
        src="https://unknownworlds.com/_next/image?url=https%3A%2F%2Fd17c72h1ypygg7.cloudfront.net%2Fsubnautica_2_keyart_banner_website_1449dc469b.jpg&w=3840&q=75" />
    </ng-template>
    <p>
      Desciende a las profundidades de un enorme planeta alienígena submarino. Explora un océano alienígena sumergido
      hermoso pero traicionero en esta aventura de acción de supervivencia de mundo abierto de la desarrolladora Unknown
      Worlds Entertainment</p>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
        <p-button label="Talasofobia" severity="success"
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-purple-900">
        </p-button>
      </div>
    </ng-template>
  </p-card>

  <p-card align="center" header="Final Fantasy VII Rebirth" subheader="Al 92% le gustó este videojuego" [style]="{ width: '300px' }">
    <ng-template pTemplate="header">
      <img alt="Card" src="https://gameover-pnx.com/wp-content/uploads/2024/02/Final-Fantasy-7-Rebirth.jpg" />
    </ng-template>
    <p>El argumento de Final Fantasy VII se centra en el protagonista Cloud Strife, un mercenario que inicialmente se
      une al grupo ecoterrorista AVALANCHA para detener el control mundial de la corporación Shinra que está drenando la
      vida del planeta para usarla como fuente de energía.</p>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
        <p-button label="Goty 2024" severity="success"
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-purple-900">
        </p-button>
      </div>
    </ng-template>
  </p-card>

  <p-card align="center" header="The last of us" subheader="Al 95% le gustó este videojuego" [style]="{ width: '300px' }">
    <ng-template pTemplate="header">
      <img alt="Card"
        src="https://gmedia.playstation.com/is/image/SIEPDC/the-last-of-us-part-i-keyart-01-en-18may22?$facebook$" />
    </ng-template>
    <p>The Last of Us Parte I es un juego de acción y aventura en tercera persona. Los jugadores controlan
      principalmente a Joel mientras guía a Ellie a través de unos Estados Unidos postapocalípticos. Es un viaje largo y
      peligroso.</p>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
        <p-button label="Pruebalo ya!" severity="success"
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-purple-900">
        </p-button>
      </div>
    </ng-template>
  </p-card>

  <p-card align="center" header="Titanfall 2" subheader="Al 97% le gustó este videojuego" [style]="{ width: '300px' }">
    <ng-template pTemplate="header">
      <img alt="Card"
        src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/1237970/capsule_616x353.jpg?t=1726160226" />
    </ng-template>
    <p>Titanfall 2 trata de un tirador llamado Jack Cooper, a quien le dan un titán, un robot gigante que está ahí para
      ayudar o causar problemas . Como tirador, no tiene certificación de piloto, lo que no ayuda en su situación.</p>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
        <p-button label="Futurista" severity="success"
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-purple-900">
        </p-button>
      </div>
    </ng-template>
  </p-card>

  <p-card align="center" header="Call of Duty: WWII" subheader="Al 96% le gustó este videojuego" [style]="{ width: '300px' }">
    <ng-template pTemplate="header">
      <img alt="Card" src="https://es.digitaltrends.com/wp-content/uploads/2017/09/call-of-duty-WWII.jpg?p=1" />
    </ng-template>
    <p>Campaña. Call of Duty®: WWII cuenta la historia de un joven recluta de la Primera División de Infantería de EE.
      UU. que experimenta el combate por primera vez en el Día D.</p>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
        <p-button label="Vivelo tu mismo" severity="success"
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-purple-900">
        </p-button>
      </div>
    </ng-template>
  </p-card>
</div>

<br>
<div class="contenedor">
  <a href="casa.component.html">
    <button>Volver a la Página de Inicio</button>
  </a>
</div>