<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>La Play Station</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/primeflex/3.3.0/primeflex.min.css">
</head>
<body><h1>PlayStation</h1>
  <div style="text-align: center;">
    <img 
      src="https://blog.latam.playstation.com/tachyon/sites/3/2024/09/c8a3e65e0614bde396f87c12bafdfed683a3ed0a.jpg" 
      style="max-width: 65%; height: auto;" 
      alt="Imagen de PlayStation" 
    />
  </div>  
  <br>
  <div class="texto">
  <p align="center" >PlayStation es una marca líder en la industria de los videojuegos, creada por Sony Interactive
    Entertainment. Desde su debut en 1994, ha transformado la manera en que jugamos y experimentamos los videojuegos. La
    primera consola, conocida como PlayStation 1 (PS1), se lanzó en Japón en 1994 y en el resto del mundo en 1995. Fue
    un éxito gracias a su uso de discos compactos (CD) que permitían gráficos 3D avanzados y una biblioteca de juegos
    icónica como Final Fantasy VII, Metal Gear Solid y Gran Turismo. En el año 2000, Sony lanzó la PlayStation 2 (PS2),
    que se convirtió en la consola más vendida de todos los tiempos con más de 155 millones de unidades, destacando
    títulos como GTA: San Andreas, Shadow of the Colossus y God of War. La PlayStation 3 (PS3), introducida en 2006,
    incluyó el formato Blu-ray y capacidades online con PlayStation Network, con juegos destacados como The Last of Us,
    Uncharted y Demon's Souls. La PlayStation 4 (PS4), lanzada en 2013, se enfocó en gráficos de alta calidad y
    experiencias sociales, y títulos aclamados como Horizon Zero Dawn, God of War (2018) y Spider-Man. Finalmente, la
    PlayStation 5 (PS5), lanzada en 2020, ofrece tiempos de carga ultrarrápidos gracias a su SSD, gráficos 4K, y un
    mando revolucionario con retroalimentación háptica y gatillos adaptativos. PlayStation sigue siendo un referente en
    la industria, ofreciendo innovación tecnológica y experiencias inolvidables para jugadores de todo el mundo.</p></div>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <h2 align="center">⭐ Insignias de la marca ⭐</h2>
  <!-- Tarjetas de juegos -->
  <div class="card-container flex flex-wrap justify-content-center gap-4 mt-6">
    <p-card align="center" header="Hollow Night" subheader="Al 97% le gustó este videojuego"
      [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card"
          src="https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/ncom/software/switch/70010000003208/4643fb058642335c523910f3a7910575f56372f612f7c0c9a497aaae978d3e51" />
      </ng-template>
      <p>El videojuego cuenta la historia del Caballero, en su búsqueda para descubrir los secretos del largamente
        abandonado reino de Hallownest.</p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1">
          <p-button label="Top 1 Indies" severity="success"
            styleClass="w-full p-3 text-xl font-bold border-round shadow-lg"></p-button>
        </div>
      </ng-template>
    </p-card>
    <p-card align="center" header="Resident Evil 4" subheader="Al 95% le gustó este videojuego"
      [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://img.youtube.com/vi/b9OEQAW5m2k/maxresdefault.jpg" />
      </ng-template>
      <p>Seis años después de los eventos de Resident Evil 2, Leon Kennedy se encuentra investigando la desaparición de
        la hija del presidente de los Estados Unidos.</p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1">
          <p-button label="El mejor de la saga" severity="success"
            styleClass="w-full p-3 text-xl font-bold border-round shadow-lg"></p-button>
        </div>
      </ng-template>
    </p-card>
    <p-card align="center" header="Need for Speed Heat" subheader="Al 92% le gustó este videojuego"
      [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card"
          src="https://i.ytimg.com/vi/9ewiJJe_nYI/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLCoNIjBmgVu4jJQtQghSCy57YitOg" />
      </ng-template>
      <p>Domina la oscuridad, persigue la luz. Ve al límite en el Speedhunters Showdown y compite para ganar fondos en
        eventos de carrera.</p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1">
          <p-button label="Goty" severity="success"
            styleClass="w-full p-3 text-xl font-bold border-round shadow-lg"></p-button>
        </div>
      </ng-template>
    </p-card>
    <p-card align="center" header="Subnautica" subheader="Al 97% le gustó este videojuego" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card"
          src="https://unknownworlds.com/_next/image?url=https%3A%2F%2Fd17c72h1ypygg7.cloudfront.net%2Fsubnautica_2_keyart_banner_website_1449dc469b.jpg&w=3840&q=75" />
      </ng-template>
      <p>Desciende a las profundidades de un enorme planeta alienígena submarino. Explora un océano alienígena en esta
        aventura de supervivencia.</p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1">
          <p-button label="Talasofobia" severity="success"
            styleClass="w-full p-3 text-xl font-bold border-round shadow-lg"></p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
  <br>
  <div class="container">
    <h2>Registrate y compra</h2>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="form-row flex align-items-center gap-3">
        <div class="form-group flex-1">
          <label for="firstName">Nombre:</label>
          <input type="text" id="firstName" formControlName="firstName" placeholder="Ingresa tu nombre" />
        </div>
        <div class="form-group flex-1">
          <label for="lastName">Apellidos:</label>
          <input type="text" id="lastName" formControlName="lastName" placeholder="Ingresa tus apellidos" />
        </div>
      </div>
      <div class="form-group">
        <label for="email">Correo Electrónico:</label>
        <input type="email" id="email" formControlName="email" placeholder="Ingresa tu correo electrónico" />
      </div>
      <div class="form-group">
        <label for="cedula">Cédula:</label>
        <input type="text" id="cedula" formControlName="cedula" placeholder="Ingresa tu cédula" />
      </div>
      <div class="form-group">
        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" formControlName="direccion" placeholder="Ingresa tu dirección" />
      </div>
      <div class="form-group">
        <label for="gender">Género:</label>
        <select id="gender" formControlName="gender">
          <option value="">Seleccione una opción</option>
          <option value="male">Masculino</option>
          <option value="female">Femenino</option>
          <option value="other">Otro</option>
        </select>
      </div>
      <div class="form-group checkbox-group">
        <label>
          <input type="checkbox" formControlName="agree" />
          Acepto los términos y condiciones
        </label>
      </div>
      <div class="contenedor">
        <button type="submit">Enviar</button>
      </div>
    </form>
  </div>
  <br>
  <h2 align="center">Explora nuestro catalogo:</h2>
  <p-carousel 
  [value]="products" 
  [numVisible]="3" 
  [numScroll]="1" 
  [responsiveOptions]="responsiveOptions" 
  [circular]="true" 
  [style]="{ 'max-width': '1200px', 'margin': 'auto', 'height': '550px' }">
  <ng-template let-product pTemplate="item">
    <div 
      class="product-item p-4 bg-white rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300" 
      [style]="{ 'max-height': '700px' }">
      <div class="mb-4 overflow-hidden rounded-lg">
        <img 
          [src]="product.image" 
          [alt]="product.name" 
          class="w-full object-cover object-center rounded-lg" 
          [style]="{ 'max-height': '200px' }" />
      </div>
      <div class="product-detail text-center">
        <h4 class="text-xl font-semibold text-gray-800 mb-2">{{ product.name }}</h4>
        <p class="text-lg text-gray-600 mb-3">${{ product.price }}</p>
        <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)" class="mb-3"></p-tag>
        <div class="flex justify-center space-x-4">
          <p-button icon="pi pi-heart" severity="secondary" [outlined]="true" class="p-button-rounded p-button-outlined" />
          <p-button icon="pi pi-shopping-cart" styleClass="p-button-rounded p-button-outlined" class="ml-2" />
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>

</body>
</html>